{% extends "base/base.html" %}
{% load static %}

{% block title %}Artifact Management{% endblock %}

{% block content %}
<div class="container mt-3">
    {% if mode == "list" %}
        <h2>Artifacts List</h2>
        <ul class="list-group">
            {% for artifact in artifacts %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        <a href="{% url 'artifact_detail' artifact.id %}">{{ artifact.title }}</a>
                    </div>
                    <div>
                        <a href="{% url 'artifact_update' artifact.id %}" class="btn btn-link">Edit</a>
                        <a href="{% url 'artifact_delete' artifact.id %}" class="btn btn-link text-danger">Delete</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <a href="{% url 'artifact_create' %}" class="btn btn-primary mt-3">Create New Artifact</a>
    {% elif mode == "create" %}
        {% include "snippets/_form.html" with action_url="{% url 'artifact_create' %}" form=form button_text="Create Artifact" %}
    {% elif mode == "detail" %}
        {% include "snippets/_detail.html" with object=artifact %}
    {% elif mode == "update" %}
        {% include "snippets/_form.html" with action_url="{% url 'artifact_update' artifact.id %}" form=form button_text="Update Artifact" %}
    {% elif mode == "delete" %}
        {% include "snippets/_delete.html" with object_name="artifact" object_list_url="{% url 'artifact_list' %}" %}
    {% endif %}
</div>
{% endblock content %}
{% block scripts %}
    {% include 'snippets/_loading_indicator.html' %}
    {% include 'snippets/_scripts.html' %}
{% endblock scripts %}
