{% extends "base/base.html" %}
{% load static %}

{% block title %}Knowledge Management{% endblock %}

{% block content %}
<div class="container mt-3">
    {% if mode == "list" %}
        <h2>Knowledge List</h2>
        <ul class="list-group">
            {% for knowledge in knowledges %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        <a href="{% url 'knowledge_detail' knowledge.id %}">{{ knowledge.title }}</a>
                    </div>
                    <div>
                        <a href="{% url 'knowledge_update' knowledge.id %}" class="btn btn-link">Edit</a>
                        <a href="{% url 'knowledge_delete' knowledge.id %}" class="btn btn-link text-danger">Delete</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <a href="{% url 'knowledge_create' %}" class="btn btn-primary mt-3">Create New Knowledge</a>
    {% elif mode == "create" %}
        {% include "snippets/_form.html" with action_url="{% url 'knowledge_create' %}" form=form button_text="Create Knowledge" %}
    {% elif mode == "detail" %}
        {% include "snippets/_detail.html" with object=knowledge %}
    {% elif mode == "update" %}
        {% include "snippets/_form.html" with action_url="{% url 'knowledge_update' knowledge.id %}" form=form button_text="Update Knowledge" %}
    {% elif mode == "delete" %}
        {% include "snippets/_delete.html" with object_name="knowledge" object_list_url="{% url 'knowledge_list' %}" %}
    {% endif %}
</div>
{% endblock content %}
{% block scripts %}
    {% include 'snippets/_loading_indicator.html' %}
    {% include 'snippets/_scripts.html' %}
{% endblock scripts %}
