{% extends "base/base.html" %}
{% load static %}

{% block title %}Solution Management{% endblock %}

{% block content %}
<div class="container mt-3">
    {% if mode == "list" %}
        <h2>Solutions List</h2>
        <ul class="list-group">
            {% for solution in solutions %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        <a href="{% url 'solution_detail' solution.id %}">{{ solution.title }}</a>
                    </div>
                    <div>
                        <a href="{% url 'solution_update' solution.id %}" class="btn btn-link">Edit</a>
                        <a href="{% url 'solution_delete' solution.id %}" class="btn btn-link text-danger">Delete</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <a href="{% url 'solution_create' %}" class="btn btn-primary mt-3">Propose a Solution</a>
    {% elif mode == "create" %}
        {% include "snippets/_form.html" with title="Create Solution" button_text="Create Solution" %}
    {% elif mode == "detail" %}
        {% include "snippets/_detail.html" with object=solution %}
    {% elif mode == "update" %}
        {% include "snippets/_form.html" with title="Edit Solution" button_text="Update Solution" %}
    {% elif mode == "delete" %}
        {% include "snippets/_delete.html" with object_name="solution" object_list_url="{% url 'solution_list' %}" %}
    {% endif %}
</div>
{% endblock content %}
{% block scripts %}
    {% include 'snippets/_loading_indicator.html' %}
    {% include 'snippets/_scripts.html' %}
{% endblock scripts %}
